@charset "utf-8";
/* CSS Document */

html, body {
	padding: 10px 0px;
	font-family: Georgia;
	background-color: white;
	height: 100%;
	width: auto;
	color: black;
}

.main-grid {
	display: grid;
	grid-template-areas: 'menu main main main'
		'menu main main main'
		'footer main main main';
	grid-gap: 5px;
	padding: 5px;
}

.main-grid > section {
	background-color: transparent;
}

.north {
	float: left;
	position: fixed;
	display: block;
	z-index: 1;
	left: 0;
	overflow-x: hidden;
	height: 100%;
}

.south {
	float: right;
	position: relative;
	display: block;
	margin: 230px 300px 0px 300px;
}

.north figure img {
	border-radius: 50%;
	margin-left: 40px;
	position: relative;
}

.north figure figcaption {
	padding-left: 40px;
}

#topnav ul {
	list-style-type: none;
	position: relative;
	display: block;
}

#topnav ul li {
	margin-bottom: 10px;
	padding: 7px 0px 20px;
}

#topnav ul li a {
	text-decoration: none;
	color: black;
	transition: .4s;
}

#topnav ul li a:hover {
	color: red;
}

#bottomnav ul {
	list-style-type: none;
	position: relative;
	display: block;
}

#bottomnav ul li {
	position: relative;
	display: inline-block;
	padding-right: 8px;
	transition: transform .2s;
}

#bottomnav ul li a {
	color: darkolivegreen;
	font-size: 20px;
}

#bottomnav ul li:hover {
	transform: scale(1.4);
}

#copyright {
	padding-left: 40px;
	font-size: 15px;
	font-family: Arial;
}

#portfolioButton {
	background-color: darkolivegreen;
	border: none;
	padding: 9px 22px;
	margin-right: 15px;
	transition: transform .8s;
	animation-name: change;
	animation-duration: 3s;
}

@keyframes change {
	from {background-color: darkred;}
	to {background-color: darkolivegreen;}
}

#resumeButton {
	background-color: transparent;
	border: 2px solid gray;
	color: black;
	padding: 7px 20px;
	transition: transform .3s;
}

#portfolioButton:hover {
	transform: rotate(360deg) scale(1.3);
	animation-name: switchcolor;
	animation-duration: 3s;
}

@keyframes switchcolor {
	from {background-color: darkolivegreen;}
	to {background-color: darkred;}
}

#resumeButton:hover {
	transform: translateX(30px) scale(1.2);
}

#intro, #skills, #services, #works, #contact {
	margin-bottom: 240px;
}

.grid-container {
	display: grid;
	grid-template-rows: auto auto auto;
	background-color: transparent;
	padding: 10px;
	margin-left: 80px;
	grid-column-gap: 10px;
}

.grid-item {
	background-color: transparent;
	border: none;
	padding: 20px;
}

#skillCards figure {
	position: relative;
	display: inline-grid;
	transition: transform .4s;
	text-align: center;
}

#skillCards figure:hover {
	transform: scale(1.3);
}

#skillCards figure img {
	margin-bottom: 15px;
}

.service-container {
	display: grid;
	grid-template-colums: auto auto;
	background-color: transparent;
	padding: 10px;
	grid-column-gap: 10px;
}

#serviceCards div {
	position: relative;
	display: inline-grid;
	transition: transform .4s;
}

#serviceCards div:hover {
	transform: scale(1.3);
}

#workCards figure {
	position: relative;
	display: inline-block;
	text-align: center;
	margin-right: 55px;
	padding: 30px;
	transition: transform .4s;
}

#workCards figure:hover {
	transform: scale(1.3);
}

#phone, #email {
	position: relative;
	display: inline-block;
	margin-right: 80px;
	transition: transform .4s;
}

#phone:hover, #email:hover {
	transform: scale(1.3);
}

#phone a, #email a {
	text-decoration: none;
	color: black;
}

#phone i, #email i {
	font-size: 35px;
	display: block;
	text-align: center;
	margin-bottom: 15px;
}

#phone p, #phone h5, #email p, #email h5 {
	text-align: center;
	display: block;
}
